<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>securedapp</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <context-param>
        <param-name>URL</param-name>
        <!--<param-value>https://122.179.131.164:8186</param-value>-->
        <param-value>https://192.168.1.109:8443</param-value>
        <!--<param-value>http://63.247.83.219</param-value>-->
        <!--<param-value>http://localhost:8084</param-value>-->
        <!--<param-value>https://paidpunch.com</param-value>-->

    </context-param>

    <context-param>
        <param-name>application_name</param-name>
        <!--<param-value>paid_punch_test</param-value>-->
        <param-value>paid_punch</param-value>
    </context-param>
    <context-param>
        <param-name>punchTime</param-name>
        <param-value>2</param-value>
    </context-param>
    <context-param>
        <param-name>filereader</param-name>
        <!-- for barcode image store in folder-->
        <param-value>/</param-value>
    </context-param>
    <context-param>
        <param-name>merchant_code_validate_time</param-name>
        <param-value>2</param-value>
    </context-param>
    <context-param>
        <param-name>HOST_IP</param-name>
        <!--<param-value>https://paidpunch.com</param-value>-->
        <!--<param-value>http://localhost:8084</param-value>-->
        <!--<param-value>http://63.247.83.219</param-value>-->
        <param-value>https://192.168.1.109:8443</param-value>
        <!--<param-value>https://122.179.131.164:8186</param-value>-->
    </context-param>
    <context-param>
        <param-name>LOGO_TEMP_PATH</param-name>
        <param-value>C:\\Documents and Settings\\admin\\My Documents\\NetBeansProjects\\Development\\web\\uploaded_logo_images\\</param-value>
        <!--<param-value>/usr/share/apache-tomcat-7.0.19/webapps/paid_punch/uploaded_logo_images/</param-value>-->
        <!--<param-value>/usr/share/apache-tomcat-7.0.19/webapps/paid_punch_test/uploaded_logo_images/</param-value>-->
       <!-- <param-value>/var/lib/tomcat6/webapps/paid_punch/uploaded_logo_images/</param-value>-->
    </context-param>
    <context-param>
        <param-name>LOGO_IMAGE_PATH</param-name>
        <param-value>https://192.168.1.109:8443/paid_punch/uploaded_logo_images/</param-value>
        <!--<param-value>http://localhost:8084/paid_punch/uploaded_logo_images/</param-value>-->
        <!--<param-value>https://122.179.131.164:8186/paid_punch_test/uploaded_logo_images/</param-value>-->
        <!--<param-value>https://paidpunch.com/paid_punch/uploaded_logo_images/</param-value>-->
    </context-param>
    <context-param>
        <param-name>PDF_WRITE_PATH</param-name>
        <param-value>C:\\Documents and Settings\\admin\\My Documents\\NetBeansProjects\\Development\\web\\pdf_folder\\</param-value>
        <!--        <param-value>E:\\PaidPunch_Server\\trunk\\Development\\web\\pdf_folder\\</param-value>-->
        <!--<param-value>/usr/share/apache-tomcat-7.0.19/webapps/paid_punch_test/pdf_folder/</param-value>-->
        <!--<param-value>/var/lib/tomcat6/webapps/paid_punch_test/pdf_folder/</param-value>-->
        <!--<param-value>/var/lib/tomcat6/webapps/paid_punch/pdf_folder/</param-value>-->
    </context-param>
    <context-param>
        <param-name>PDF_READ_PATH</param-name>
        <param-value>https://192.168.1.109:8443/paid_punch/pdf_folder/</param-value>
        <!--<param-value>http://localhost:8084/paid_punch/pdf_folder/</param-value>-->
        <!--<param-value>https://paidpunch.com/paid_punch/pdf_folder/</param-value>-->
        <!--<param-value>https://122.179.131.164:8186/paid_punch/pdf_folder/</param-value>-->
    </context-param>
    <context-param>
        <param-name>IMAGES_PATH</param-name>
        <param-value>C:\\Documents and Settings\\admin\\My Documents\\NetBeansProjects\\Development\\web\\images\\</param-value>
        <!--<param-value>/usr/share/apache-tomcat-7.0.19/webapps/paid_punch_test/images/</param-value>-->
       <!-- <param-value>/var/lib/tomcat6/webapps/paid_punch/images/</param-value>-->
    </context-param>
    <context-param>
        <param-name>JDBC_DRIVER</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>JDBC_URL</param-name>
        <<param-value>jdbc:mysql://paidpunchtest.csepczasc6nf.us-west-2.rds.amazonaws.com:3306/paidpunchtest</param-value>
        <!--<param-value>jdbc:mysql://localhost:3306/paidpunch</param-value>-->
    </context-param>
    <context-param>
        <param-name>USERID</param-name>
        <!--<param-value>root</param-value>-->
        <param-value>paidpunch</param-value>
    </context-param>
    <context-param>
        <param-name>PASSWORD</param-name>
        <param-value>Biscuit-1</param-value>
        <!--<param-value>root</param-value>-->
    </context-param>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.app.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendForgotPasswordMail</servlet-name>
        <servlet-class>com.jspservlets.SendForgotPasswordMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSecretCode</servlet-name>
        <servlet-class>com.jspservlets.CheckSecretCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupCheckEmail</servlet-name>
        <servlet-class>com.jspservlets.SignupCheckEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateLogin</servlet-name>
        <servlet-class>com.jspservlets.ValidateLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupAddPunch</servlet-name>
        <servlet-class>com.jspservlets.SignupAddPunch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Templates</servlet-name>
        <servlet-class>com.app.Templates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Products</servlet-name>
        <servlet-class>com.app.Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Punch</servlet-name>
        <servlet-class>com.app.Punch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Punches</servlet-name>
        <servlet-class>com.app.Punches</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>com.app.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>com.app.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>com.app.Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyBusinessUser</servlet-name>
        <servlet-class>com.jspservlets.VerifyBusinessUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.jspservlets.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBusinessUser</servlet-name>
        <servlet-class>com.jspservlets.EditBusinessUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImage</servlet-name>
        <servlet-class>com.jspservlets.DisplayImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAppUser</servlet-name>
        <servlet-class>com.app.VerifyAppUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBusinessSetting</servlet-name>
        <servlet-class>com.jspservlets.EditBusinessSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>com.app.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyBarcode</servlet-name>
        <servlet-class>merchant.VerifyBarcode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedeemPunch</servlet-name>
        <servlet-class>merchant.RedeemPunch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookLogin</servlet-name>
        <servlet-class>com.app.FacebookLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MysteryPunch</servlet-name>
        <servlet-class>com.app.MysteryPunch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentDetail</servlet-name>
        <servlet-class>payment.PaymentDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>payment.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMysteryPunch</servlet-name>
        <servlet-class>com.jspservlets.EditMysteryPunch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feeds</servlet-name>
        <servlet-class>com.app.Feeds</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/app_registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendForgotPasswordMail</servlet-name>
        <url-pattern>/forgot_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckSecretCode</servlet-name>
        <url-pattern>/checksecretcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupCheckEmail</servlet-name>
        <url-pattern>/signup_business_email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateLogin</servlet-name>
        <url-pattern>/login_validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupAddPunch</servlet-name>
        <url-pattern>/signup_paidpunch_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Templates</servlet-name>
        <url-pattern>/Templates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Punch</servlet-name>
        <url-pattern>/punch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Punches</servlet-name>
        <url-pattern>/Punches</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/updation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyBusinessUser</servlet-name>
        <url-pattern>/verifybususer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/change_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBusinessUser</servlet-name>
        <url-pattern>/save_delete_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayImage</servlet-name>
        <url-pattern>/DisplayImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAppUser</servlet-name>
        <url-pattern>/verifyappuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBusinessSetting</servlet-name>
        <url-pattern>/edit_bus_setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyBarcode</servlet-name>
        <url-pattern>/barcodeverify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedeemPunch</servlet-name>
        <url-pattern>/Redeem_punch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookLogin</servlet-name>
        <url-pattern>/FB_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MysteryPunch</servlet-name>
        <url-pattern>/mysterypunch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentDetail</servlet-name>
        <url-pattern>/payment_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMysteryPunch</servlet-name>
        <url-pattern>/edit_mystery_punch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>Feeds</servlet-name>
        <url-pattern>/Feeds</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
