<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>securedapp</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <context-param>
        <param-name>URL</param-name>
        <!--<param-value>https://122.179.131.164:8186</param-value>-->
        <param-value>https://192.168.1.109:8443</param-value>
        <!--<param-value>http://63.247.83.219</param-value>-->
        <!--<param-value>http://localhost:8084</param-value>-->
        <!--<param-value>https://paidpunch.com</param-value>-->

    </context-param>

    <context-param>
        <param-name>application_name</param-name>
        <!--<param-value>paid_punch_test</param-value>-->
        <param-value>paid_punch</param-value>
    </context-param>
    <context-param>
        <param-name>punchTime</param-name>
        <param-value>2</param-value>
    </context-param>
    <context-param>
        <param-name>filereader</param-name>
        <!-- for barcode image store in folder-->
        <param-value>/</param-value>
    </context-param>
    <context-param>
        <param-name>merchant_code_validate_time</param-name>
        <param-value>2</param-value>
    </context-param>
    <context-param>
        <param-name>HOST_IP</param-name>
        <!--<param-value>https://paidpunch.com</param-value>-->
        <!--<param-value>http://localhost:8084</param-value>-->
        <!--<param-value>http://63.247.83.219</param-value>-->
        <param-value>https://192.168.1.109:8443</param-value>
        <!--<param-value>https://122.179.131.164:8186</param-value>-->
    </context-param>
    <context-param>
        <param-name>LOGO_TEMP_PATH</param-name>
        <param-value>C:\\Documents and Settings\\admin\\My Documents\\NetBeansProjects\\Development\\web\\uploaded_logo_images\\</param-value>
        <!--<param-value>/usr/share/apache-tomcat-7.0.19/webapps/paid_punch/uploaded_logo_images/</param-value>-->
        <!--<param-value>/usr/share/apache-tomcat-7.0.19/webapps/paid_punch_test/uploaded_logo_images/</param-value>-->
       <!-- <param-value>/var/lib/tomcat6/webapps/paid_punch/uploaded_logo_images/</param-value>-->
    </context-param>
    <context-param>
        <param-name>LOGO_IMAGE_PATH</param-name>
        <param-value>https://192.168.1.109:8443/paid_punch/uploaded_logo_images/</param-value>
        <!--<param-value>http://localhost:8084/paid_punch/uploaded_logo_images/</param-value>-->
        <!--<param-value>https://122.179.131.164:8186/paid_punch_test/uploaded_logo_images/</param-value>-->
        <!--<param-value>https://paidpunch.com/paid_punch/uploaded_logo_images/</param-value>-->
    </context-param>
    <context-param>
        <param-name>PDF_WRITE_PATH</param-name>
        <param-value>C:\\Documents and Settings\\admin\\My Documents\\NetBeansProjects\\Development\\web\\pdf_folder\\</param-value>
        <!--        <param-value>E:\\PaidPunch_Server\\trunk\\Development\\web\\pdf_folder\\</param-value>-->
        <!--<param-value>/usr/share/apache-tomcat-7.0.19/webapps/paid_punch_test/pdf_folder/</param-value>-->
        <!--<param-value>/var/lib/tomcat6/webapps/paid_punch_test/pdf_folder/</param-value>-->
        <!--<param-value>/var/lib/tomcat6/webapps/paid_punch/pdf_folder/</param-value>-->
    </context-param>
    <context-param>
        <param-name>PDF_READ_PATH</param-name>
        <param-value>https://192.168.1.109:8443/paid_punch/pdf_folder/</param-value>
        <!--<param-value>http://localhost:8084/paid_punch/pdf_folder/</param-value>-->
        <!--<param-value>https://paidpunch.com/paid_punch/pdf_folder/</param-value>-->
        <!--<param-value>https://122.179.131.164:8186/paid_punch/pdf_folder/</param-value>-->
    </context-param>
    <context-param>
        <param-name>IMAGES_PATH</param-name>
        <param-value>C:\\Documents and Settings\\admin\\My Documents\\NetBeansProjects\\Development\\web\\images\\</param-value>
        <!--<param-value>/usr/share/apache-tomcat-7.0.19/webapps/paid_punch_test/images/</param-value>-->
       <!-- <param-value>/var/lib/tomcat6/webapps/paid_punch/images/</param-value>-->
    </context-param>
    <context-param>
        <param-name>JDBC_DRIVER</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>JDBC_URL</param-name>
        <param-value>jdbc:mysql://localhost:3306/paidpunch</param-value>
        <!--<param-value>jdbc:mysql://localhost:3306/paid_punch_test</param-value>-->
    </context-param>
    <context-param>
        <param-name>USERID</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>PASSWORD</param-name>
        <param-value>root</param-value>
        <!--<param-value>X91TZKiQIO</param-value>-->
    </context-param>
    <servlet>
        <servlet-name>app_registration</servlet-name>
        <servlet-class>com.app.app_registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgot_pass_mail_send</servlet-name>
        <servlet-class>com.jspservlets.forgot_pass_mail_send</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checksecretcode</servlet-name>
        <servlet-class>com.jspservlets.checksecretcode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup_business_emailcheck</servlet-name>
        <servlet-class>com.jspservlets.signup_business_emailcheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_validate</servlet-name>
        <servlet-class>com.jspservlets.login_validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup_paidpunch</servlet-name>
        <servlet-class>com.jspservlets.signup_paidpunch_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>punch</servlet-name>
        <servlet-class>com.app.punch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updation</servlet-name>
        <servlet-class>com.app.updation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>com.app.feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyBusinessUser</servlet-name>
        <servlet-class>com.jspservlets.verifyBusinessUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change_password</servlet-name>
        <servlet-class>com.jspservlets.change_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save_delete_business_admin</servlet-name>
        <servlet-class>com.jspservlets.save_delete_business_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImage</servlet-name>
        <servlet-class>com.jspservlets.DisplayImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyappuser</servlet-name>
        <servlet-class>com.app.verifyappuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_bus_setting</servlet-name>
        <servlet-class>com.jspservlets.edit_bus_setting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpassword</servlet-name>
        <servlet-class>com.app.forgotpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>barcodeverify</servlet-name>
        <servlet-class>merchant.barcodeverify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redeem_punch</servlet-name>
        <servlet-class>merchant.merchant_app</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FB_login</servlet-name>
        <servlet-class>com.app.FB_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mysterypunch</servlet-name>
        <servlet-class>com.app.mysterypunch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment_detail</servlet-name>
        <servlet-class>payment.payment_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>payment.payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_mystery_punch</servlet-name>
        <servlet-class>com.jspservlets.edit_mystery_punch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feeds</servlet-name>
        <servlet-class>com.app.Feeds</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>app_registration</servlet-name>
        <url-pattern>/app_registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgot_pass_mail_send</servlet-name>
        <url-pattern>/forgot_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checksecretcode</servlet-name>
        <url-pattern>/checksecretcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup_business_emailcheck</servlet-name>
        <url-pattern>/signup_business_email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_validate</servlet-name>
        <url-pattern>/login_validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup_paidpunch</servlet-name>
        <url-pattern>/signup_paidpunch_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>punch</servlet-name>
        <url-pattern>/punch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updation</servlet-name>
        <url-pattern>/updation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyBusinessUser</servlet-name>
        <url-pattern>/verifybususer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change_password</servlet-name>
        <url-pattern>/change_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save_delete_business_admin</servlet-name>
        <url-pattern>/save_delete_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayImage</servlet-name>
        <url-pattern>/DisplayImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyappuser</servlet-name>
        <url-pattern>/verifyappuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_bus_setting</servlet-name>
        <url-pattern>/edit_bus_setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>barcodeverify</servlet-name>
        <url-pattern>/barcodeverify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redeem_punch</servlet-name>
        <url-pattern>/Redeem_punch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FB_login</servlet-name>
        <url-pattern>/FB_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mysterypunch</servlet-name>
        <url-pattern>/mysterypunch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment_detail</servlet-name>
        <url-pattern>/payment_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_mystery_punch</servlet-name>
        <url-pattern>/edit_mystery_punch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>Feeds</servlet-name>
        <url-pattern>/Feeds</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
